[Unit]
Description=PiPilot-AutoTank Smart Fan Daemon
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi4mb/PiPilot-AutoTank/scripts
ExecStart=/home/pi4mb/miniconda3/envs/tank_py39/bin/python /home/pi4mb/PiPilot-AutoTank/scripts/fan_daemon.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
